@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.wrapper {
    width: 1280px;


}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 62px;
}

.gallery__card {
    width: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

/*.gallery__card img{*/
/*  width: auto;*/
/*    height: auto;*/
/*    display: block;*/
/*}*/


.gallery__card h3 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.gallery__card p {
    color: #3C3C43;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

